{{!< default}}
{{#each posts}}

{{! Article | Post wrap: }}<article role="article" itemscope itemtype="http://schema.org/BlogPosting" class="postwrap_nix">

{{! Article header:/ }}<header class="titlewrap_nix">
{{! Article headline:/ }}<h3 class="posttitle_nix" itemprop="headline"><a href="{{{url}}}" rel="bookmark">{{{title}}}</a></h3>
{{! Post top: }}<div class="posttop_nix nixclear">
{{! Post info: }}<div class="postinfo_nix">
{{! Article time:/ }}<time datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished"><i class="nix_icon-calendar"></i>{{date format='MM.DD.YYYY'}}</time>
</div>{{! /Post info }}
</div>{{! /Post top }}
</header>{{! /Article header }}

{{! Article body:/ }}<div class="postinner_nix nixclear" itemprop="articleBody">{{{content}}}</div>

{{! Post bottom:/ }}<div class="postbottom_nix"></div>
<span>{{#if tags}}<p class="tags_nix"><i class="nix_icon-tag"></i> {{tags separator=", "}}{{/if}} | <a class="comment-count" href="{{url}}#disqus_thread" data-disqus-identifier="{{post.id}}">Comments</a></p></span>
</article>{{! /Article | Post wrap }}

{{/each}}

{{#if pagination}}
<div class="subwrap_nix"><div class="subtop_nix"></div>
<div class="pagination_nix">{{{pagination}}}</div>
</div>
{{/if}}